<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.stem.diseasemodels.vector.presentation.VectorModelWizardID"
            name="%_UI_VectorModelWizard_label"
            class="org.eclipse.stem.diseasemodels.vector.presentation.VectorModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VectorModelFile.gif">
         <description>%_UI_VectorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.stem.diseasemodels.vector.presentation.VectorEditorID"
            name="%_UI_VectorEditor_label"
            icon="icons/full/obj16/VectorModelFile.gif"
            extensions="vector"
            class="org.eclipse.stem.diseasemodels.vector.presentation.VectorEditor"
            contributorClass="org.eclipse.stem.diseasemodels.vector.presentation.VectorActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.stem.diseasemodels.vector.presentation.VectorPropertyStringProviderAdapterFactory">
      </startup>
   </extension>

</plugin>
