<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.4 2009/03/11 03:45:26 sedlund Exp $
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.eclipse.stem.diseasemodels.example.presentation.ExampleModelWizardID"
      name = "%_UI_ExampleModelWizard_label"
      class = "org.eclipse.stem.diseasemodels.example.presentation.ExampleModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/ExampleModelFile.gif">
      <description>%_UI_ExampleModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.eclipse.stem.diseasemodels.example.presentation.ExampleEditorID"
        name = "%_UI_ExampleEditor_label"
        icon = "icons/full/obj16/ExampleModelFile.gif"
        extensions = "example"
        class = "org.eclipse.stem.diseasemodels.example.presentation.ExampleEditor" 
        contributorClass="org.eclipse.stem.diseasemodels.example.presentation.ExampleActionBarContributor" >
    </editor>
  </extension>
  <extension
        point="org.eclipse.ui.startup">
     <startup
           class="org.eclipse.stem.ui.diseasemodels.example.presentation.ExamplePropertyStringProviderAdapterFactory">
     </startup>
  </extension>
</plugin>
