<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.eclipse.stem.ui.STEMPerspective"
         point="org.eclipse.ui.perspectives">
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.stem.ui.views"
            class="org.eclipse.stem.ui.reports.views.TimeSeriesView"
            icon="icons/sample.gif"
            id="org.eclipse.stem.ui.views.reports"
            name="%TS_View">
         Reports
      </view>
      <view
            allowMultiple="true"
            category="org.eclipse.stem.ui.views"
            class="org.eclipse.stem.ui.reports.views.PhaseSpaceView"
            icon="icons/sample.gif"
            id="org.eclipse.stem.ui.views.reports.phaseSpace"
            name="%PS_View">
      </view>
      <view
      		allowMultiple="true"
            category="org.eclipse.stem.ui.views"
            class="org.eclipse.stem.ui.reports.views.AggregateTimeSeriesView"
            icon="icons/sample.gif"
            id="org.eclipse.stem.ui.views.reports.aggregate"
            name="%AS_View">
      </view>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
        	id="org.eclipse.stem.ui.reports.views"
        	targetID="org.eclipse.stem.ui.views.geographic.map.context">
	    	<action 
		    	id="TimeSeries"
		    	state="true"
	       		label="%TS_View"	       		
	       		menubarPath="reports/additions"
	       		class="org.eclipse.stem.ui.reports.views.ReportsContextMenuAction">	
	    	</action>
	    	<action 
		    	id="PhaseSpace"
		    	state="true"
	       		label="%PS_View"
	       		menubarPath="reports/additions"
	       		class="org.eclipse.stem.ui.reports.views.ReportsContextMenuAction">	
	    	</action>
	    	<action 
		    	id="AggregateTimeSeries"
		    	state="true"
	       		label="%AS_View"
	       		menubarPath="reports/additions"
	       		class="org.eclipse.stem.ui.reports.views.ReportsContextMenuAction">	
	    	</action>
       </viewerContribution>
  </extension>

</plugin>
