<?xml version="1.0" encoding="UTF-8"?><?pde version="3.6"?><target includeMode="feature" name="eclipseRCP3.6">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="3.6.1.M20100909-0800"/>
<unit id="org.eclipse.sdk.ide" version="3.6.1.M20100909-0800"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.6"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.birt.feature.group" version="2.6.1.v20100709a-9iF7A8FGLY4z0pxX3ORrsdrp6JXb"/>
<unit id="org.eclipse.ecf.core.feature.group" version="3.3.1.v20100913-1814"/>
<unit id="org.eclipse.datatools.enablement.sdk.feature.feature.group" version="1.8.1.v20100618-7I977GFE9JfhdnBJPmBCYCq6w5-t"/>
<unit id="org.eclipse.datatools.sdk.feature.feature.group" version="1.8.1.v20100618-7P9i7KFDxNYrp4cjPjqnPaRKxeyT"/>
<unit id="org.eclipse.birt.osgi.runtime.sdk.feature.group" version="2.6.1.v20100617a-57B185wFfAqPz0Ef8mBsMkG-0hfS"/>
<unit id="org.eclipse.rcp.source.feature.group" version="3.6.1.r361_v20100827-9OArFLdFjY-ThSQXmKvKz0_T"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.6.1.v20100914-1218"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.6.1.r361_v20100903-7H7R07v8rtOZyYbv1I6aZgou5z07"/>
<unit id="org.eclipse.pde.api.tools.ee.fragments.feature.group" version="1.0.0.v20100427-7C-7BF9JgLWLMBMMAMsLL"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.6.1.v20100908-1100-7G7R2A5WNcBQPZgXAHiSXMXYaKPI"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.jdt.feature.group" version="3.6.1.r361_v20100714-0800-7z8XFUSFLFlmgLc5z-Bvrt8-HVkH"/>
<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.2.2.v201008170019-377AB8s73533J5H335L"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.2.2.v201008100100-7O7CFbKEMf84nUlEJyX7-SPQjhYZ"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
</locations>
<includeBundles>
<feature id="org.eclipse.wst.jsdt.feature"/>
<feature id="org.eclipse.equinox.weaving.sdk"/>
<feature id="org.eclipse.datatools.enablement.oda.feature.source"/>
<feature id="org.eclipse.datatools.enablement.postgresql.feature"/>
<feature id="org.eclipse.wst.server_userdoc.feature"/>
<feature id="org.eclipse.datatools.enablement.postgresql.feature.source"/>
<feature id="org.eclipse.ecf.remoteservice.rest.feature"/>
<feature id="org.eclipse.equinox.server.servletbridge"/>
<feature id="org.eclipse.equinox.server.simple"/>
<feature id="org.eclipse.emf.edit"/>
<feature id="org.eclipse.emf.codegen.ecore.ui.source"/>
<feature id="org.eclipse.xsd.sdk"/>
<feature id="org.eclipse.ecf.osgi.services.feature"/>
<feature id="org.eclipse.datatools.sqldevtools.ddl.feature.source"/>
<feature id="org.eclipse.emf.edit.source"/>
<feature id="org.eclipse.datatools.enablement.oda.designer.feature.source"/>
<feature id="org.eclipse.emf.databinding.edit.source"/>
<feature id="org.eclipse.xsd.mapping.editor"/>
<feature id="org.eclipse.datatools.enablement.apache.derby.feature.source"/>
<feature id="org.eclipse.datatools.sqldevtools.results.feature"/>
<feature id="org.eclipse.datatools.enablement.msft.feature"/>
<feature id="org.eclipse.datatools.sqldevtools.ddl.feature"/>
<feature id="org.eclipse.datatools.connectivity.feature"/>
<feature id="org.eclipse.wst.server_core.feature"/>
<feature id="org.eclipse.ecf.remoteservice.sdk.feature"/>
<feature id="org.eclipse.draw2d"/>
<feature id="org.eclipse.datatools.connectivity.oda.feature.source"/>
<feature id="org.eclipse.datatools.sqldevtools.results.feature.source"/>
<feature id="org.eclipse.ecf.eventadmin.examples.feature"/>
<feature id="org.eclipse.ecf.remoteservice.feature"/>
<feature id="org.eclipse.datatools.doc.user"/>
<feature id="org.eclipse.datatools.enablement.jdbc.feature.source"/>
<feature id="org.eclipse.emf.codegen"/>
<feature id="org.eclipse.emf.mapping.ecore.editor"/>
<feature id="org.eclipse.datatools.enablement.feature.source"/>
<feature id="org.eclipse.datatools.enablement.jdt.feature"/>
<feature id="org.eclipse.datatools.enablement.ingres.feature.source"/>
<feature id="org.eclipse.emf.mapping.ui"/>
<feature id="org.eclipse.datatools.enablement.sqlite.feature.source"/>
<feature id="org.eclipse.rcp.source"/>
<feature id="org.eclipse.ecf.remoteservice.soap.feature"/>
<feature id="org.eclipse.birt.osgi.runtime.sdk"/>
<feature id="org.eclipse.datatools.enablement.jdt.feature.source"/>
<feature id="org.eclipse.xsd.mapping"/>
<feature id="org.eclipse.wst.xml_ui.feature"/>
<feature id="org.eclipse.datatools.sqldevtools.sqlbuilder.feature.source"/>
<feature id="org.eclipse.ecf.eventadmin.feature"/>
<feature id="org.eclipse.xsd.editor.source"/>
<feature id="org.eclipse.datatools.enablement.sap.feature"/>
<feature id="org.eclipse.equinox.sdk"/>
<feature id="org.eclipse.datatools.connectivity.oda.designer.feature.source"/>
<feature id="org.eclipse.wst.web_userdoc.feature"/>
<feature id="org.eclipse.emf.databinding"/>
<feature id="org.eclipse.pde.api.tools.ee.fragments"/>
<feature id="org.eclipse.datatools.enablement.hsqldb.feature.source"/>
<plugin id="org.apache.log4j"/>
<feature id="org.eclipse.pde.source"/>
<feature id="org.eclipse.emf.databinding.source"/>
<feature id="org.eclipse.emf.mapping.source"/>
<feature id="org.eclipse.datatools.sqldevtools.parsers.feature.source"/>
<feature id="org.eclipse.emf.ecore"/>
<feature id="org.eclipse.emf.source"/>
<feature id="org.eclipse.sdk"/>
<feature id="org.eclipse.wst.common_ui.feature"/>
<feature id="org.eclipse.platform"/>
<feature id="org.eclipse.datatools.enablement.apache.derby.feature"/>
<feature id="org.eclipse.datatools.modelbase.feature"/>
<feature id="org.eclipse.xsd.mapping.editor.source"/>
<feature id="org.eclipse.datatools.enablement.sqlite.feature"/>
<feature id="org.eclipse.cvs.source"/>
<feature id="org.eclipse.equinox.p2.user.ui.source"/>
<feature id="org.eclipse.datatools.common.doc.user"/>
<feature id="org.eclipse.datatools.enablement.oda.designer.feature"/>
<feature id="org.eclipse.datatools.enablement.jdbc.feature"/>
<feature id="org.eclipse.datatools.enablement.oracle.feature.source"/>
<feature id="org.eclipse.ecf.discovery.jmdns.feature"/>
<feature id="org.eclipse.wst.xml_userdoc.feature"/>
<feature id="org.eclipse.datatools.sqldevtools.data.feature"/>
<feature id="org.eclipse.emf.codegen.ui.source"/>
<feature id="org.eclipse.equinox.server.jetty"/>
<feature id="org.eclipse.datatools.sqldevtools.ddlgen.feature"/>
<feature id="org.eclipse.emf.codegen.ecore.source"/>
<feature id="org.eclipse.emf.edit.ui"/>
<feature id="org.eclipse.xsd.editor"/>
<feature id="org.eclipse.draw2d.source"/>
<feature id="org.eclipse.gef"/>
<feature id="org.eclipse.platform.source"/>
<feature id="org.eclipse.jdt.source"/>
<feature id="org.eclipse.emf.common"/>
<feature id="org.eclipse.xsd"/>
<feature id="org.eclipse.equinox.p2.discovery.feature"/>
<feature id="org.eclipse.xsd.mapping.source"/>
<feature id="org.eclipse.ecf.datashare.feature"/>
<feature id="org.eclipse.datatools.sqldevtools.data.feature.source"/>
<feature id="org.eclipse.emf.mapping.ecore.source"/>
<feature id="org.eclipse.gef.source"/>
<feature id="org.eclipse.xsd.edit.source"/>
<feature id="org.eclipse.emf.common.source"/>
<feature id="org.eclipse.equinox.p2.sdk"/>
<feature id="org.eclipse.emf.doc.source"/>
<feature id="org.eclipse.datatools.connectivity.oda.designer.feature"/>
<feature id="org.eclipse.ecf.discovery.zookeeper.feature"/>
<feature id="org.eclipse.ecf.server.generic.feature"/>
<feature id="org.eclipse.datatools.enablement.hsqldb.feature"/>
<feature id="org.eclipse.ecf.discovery.local.feature"/>
<feature id="org.eclipse.datatools.sqldevtools.schemaobjecteditor.feature"/>
<feature id="org.eclipse.equinox.serverside.sdk"/>
<feature id="org.eclipse.ecf.remoteservice.rosgi.feature"/>
<feature id="org.eclipse.emf.mapping"/>
<feature id="org.eclipse.emf.sdk"/>
<feature id="org.eclipse.equinox.executable"/>
<feature id="org.eclipse.datatools.enablement.ibm.feature"/>
<feature id="org.eclipse.emf.mapping.ecore"/>
<feature id="org.eclipse.emf.codegen.source"/>
<feature id="org.eclipse.datatools.enablement.oracle.feature"/>
<feature id="org.eclipse.datatools.modelbase.feature.source"/>
<feature id="org.eclipse.datatools.connectivity.oda.designer.core.feature"/>
<feature id="org.eclipse.rcp"/>
<feature id="org.eclipse.xsd.ecore.converter"/>
<feature id="org.eclipse.help.source"/>
<feature id="org.eclipse.emf.ecore.editor.source"/>
<feature id="org.eclipse.ecf.core"/>
<feature id="org.eclipse.datatools.enablement.oda.feature"/>
<feature id="org.eclipse.datatools.sdk.feature"/>
<feature id="org.eclipse.datatools.sqldevtools.ddlgen.feature.source"/>
<feature id="org.eclipse.emf.converter"/>
<feature id="org.eclipse.birt"/>
<feature id="org.eclipse.datatools.enablement.sdk.feature"/>
<feature id="org.eclipse.equinox.p2.user.ui"/>
<feature id="org.eclipse.datatools.enablement.sybase.feature.source"/>
<feature id="org.eclipse.datatools.enablement.ibm.feature.source"/>
<feature id="org.eclipse.emf.ecore.edit"/>
<feature id="org.eclipse.emf.codegen.ui"/>
<feature id="org.eclipse.emf.databinding.edit"/>
<feature id="org.eclipse.equinox.server.p2"/>
<feature id="org.eclipse.xsd.source"/>
<feature id="org.eclipse.xsd.doc.source"/>
<feature id="org.eclipse.datatools.connectivity.oda.feature"/>
<feature id="org.eclipse.birt.osgi.runtime.source"/>
<feature id="org.eclipse.datatools.enablement.sap.feature.source"/>
<feature id="org.eclipse.datatools.intro"/>
<feature id="org.eclipse.wst.xml_core.feature"/>
<feature id="org.eclipse.datatools.sqldevtools.feature"/>
<feature id="org.eclipse.xsd.doc"/>
<feature id="org.eclipse.emf.mapping.ui.source"/>
<feature id="org.eclipse.emf.ecore.editor"/>
<feature id="org.eclipse.cvs"/>
<feature id="org.eclipse.wst.web_core.feature"/>
<feature id="org.eclipse.emf.codegen.ecore.ui"/>
<feature id="org.eclipse.xsd.ecore.converter.source"/>
<feature id="org.eclipse.datatools.connectivity.feature.source"/>
<feature id="org.eclipse.gef.sdk"/>
<feature id="org.eclipse.emf.ecore.source"/>
<feature id="org.eclipse.xsd.edit"/>
<feature id="org.eclipse.datatools.sqltools.doc.user"/>
<feature id="org.eclipse.draw2d.sdk"/>
<feature id="org.eclipse.datatools.enablement.ingres.feature"/>
<feature id="org.eclipse.wst.common_core.feature"/>
<feature id="org.eclipse.jdt"/>
<feature id="org.eclipse.help"/>
<feature id="org.eclipse.emf.mapping.ecore.editor.source"/>
<feature id="org.eclipse.datatools.connectivity.oda.designer.core.feature.source"/>
<feature id="org.eclipse.pde"/>
<feature id="org.eclipse.datatools.sqldevtools.feature.source"/>
<plugin id="javax.mail.glassfish"/>
<feature id="org.eclipse.datatools.enablement.sybase.feature"/>
<feature id="org.eclipse.wst.web_ui.feature"/>
<feature id="org.eclipse.datatools.enablement.mysql.feature.source"/>
<feature id="org.eclipse.datatools.connectivity.doc.user"/>
<feature id="org.eclipse.wst.common.fproj"/>
<feature id="org.eclipse.emf.edit.ui.source"/>
<feature id="org.eclipse.emf.common.ui"/>
<feature id="org.eclipse.emf.ecore.edit.source"/>
<feature id="org.eclipse.birt.osgi.runtime"/>
<feature id="org.eclipse.emf.codegen.ecore"/>
<feature id="org.eclipse.emf.doc"/>
<feature id="org.eclipse.ecf.discovery.feature"/>
<feature id="org.eclipse.datatools.sqldevtools.parsers.feature"/>
<feature id="org.eclipse.birt.report.designer.editor.xml.wtp"/>
<feature id="org.eclipse.datatools.sqldevtools.sqlbuilder.feature"/>
<feature id="org.eclipse.ecf.discovery.slp.feature"/>
<feature id="org.eclipse.wst.server_ui.feature"/>
<feature id="org.eclipse.ecf.remoteservice.examples.feature"/>
<feature id="org.eclipse.datatools.enablement.feature"/>
<feature id="org.eclipse.datatools.enablement.msft.feature.source"/>
<feature id="org.eclipse.datatools.enablement.mysql.feature"/>
<feature id="org.eclipse.equinox.compendium.sdk"/>
<feature id="org.eclipse.emf"/>
<feature id="org.eclipse.equinox.core.sdk"/>
<feature id="org.eclipse.emf.common.ui.source"/>
<feature id="org.eclipse.equinox.server.core"/>
<feature id="org.eclipse.emf.converter.source"/>
</includeBundles>
</target>