<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.stem.diseasemodels.disease">
      <stem_category
            id="org.eclipse.stem.diseases.stem"
            name="%_UI_STEM"
            parent_id="/"/>
      <stem_category
            id="org.eclipse.stem.diseases.stem.builtin"
            name="%_UI_Builtin"
            parent_id="org.eclipse.stem.diseases.stem"/>
      <dublin_core
            category_id="org.eclipse.stem.diseases.stem.builtin"
            created="2007-02-15"
            creator="%dc_creator_daford"
            description="%dc_flu_d_seir_desc"
            format="http:///org/eclipse/stem/diseasemodels/standard.ecore"
            identifier="platform:/plugin/org.eclipse.stem.diseases/resources/diseases/influenza_deterministic_seir.standard"
            publisher="%dc_pub"
            title="%dc_flu_d_seir_title"/>
   </extension>


</plugin>
