<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.stem.populationmodels.standard.presentation.StandardModelWizardID"
            name="%_UI_StandardModelWizard_label"
            class="org.eclipse.stem.populationmodels.standard.presentation.StandardModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StandardModelFile.gif">
         <description>%_UI_StandardModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
    <wizard
          category="org.eclipse.stem.ui.wizards.stemcategory"
          class="org.eclipse.stem.ui.populationmodels.standard.wizards.NewPopulationModelWizard"
          hasPages="true"
          icon="icons/full/custom16/populationmodel.gif"
          id="org.eclipse.stem.populationmodels.standard.presentation.StandardModelWizardID"
          name="%_UI_Disease"/>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.stem.populationmodels.standard.presentation.StandardEditorID"
            name="%_UI_StandardEditor_label"
            icon="icons/full/obj16/StandardModelFile.gif"
            extensions="standard"
            class="org.eclipse.stem.populationmodels.standard.presentation.StandardEditor"
            contributorClass="org.eclipse.stem.populationmodels.standard.presentation.StandardActionBarContributor">
      </editor>
   </extension>

	<extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="menu:org.eclipse.stem.ui.menu.newwizards?after=additions">
        <command
              commandId="org.eclipse.stem.ui.populationmodels.command.wiz.populationmodel"
              icon="icons/full/custom16/populationmodel.gif"
              label="%_UI_PopulationModelWizard_label"
              style="push"
              tooltip="%_UI_PopulationModel_description">
        </command>
     </menuContribution>
  </extension>
  
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="org.eclipse.stem.ui.populationmodels.standard.wizards.NewPopulationModelWizard$NewPopulationModelWizardCommandHandler"
           description="%_UI_PopulationModel_description"
           id="org.eclipse.stem.ui.populationmodels.command.wiz.populationmodel"
           name="%_UI_PopulationModelWizard_label">
     </command>
  </extension>
</plugin>
