################################################################################################################################################
#
# ********** CONFIGURATION FILE EUROPE DATA CLEANER **********
#
# TO CHANGE DEFAULT CONFIGURATION VALUES, MODIFY ORG.ECLIPSE.STEM.UTILITY.GENERATORS\GenConstants.java
#
# CONFIGURATION VARIABLES SET IN THIS FILE OVERRIDE THE DEFAULTS
#
# The WORKSPACE VARIABLE IS REQUIRED, ALL OTHER VARIABLES ARE OPTIONAL (i.e. WORKSPACE=C:\stemII\)
WORKSPACE=C:\stemII\
#
# File with target countries we want to process (i.e. TARGET_LIST=C:\stemII\org.eclipse.stem.utility\parameters\targets\EuropeCountries.txt)
TARGET_LIST = C:\stemII\org.eclipse.stem.utility\parameters\targets\EuropeCountries.txt
#
# Output directory for new files (i.e. OUTPUT=C:\EuropeData2007\EuropeUN\UNdataShp\)
OUTPUT = C:\EuropeData2007\EuropeUN\UNdataShp\
#
# ********** END OF CONFIGURATION FILE FOR EUROPE DATA CLEANER **********
#
################################################################################################################################################