################################################################################################################################################
#
# ********** CONFIGURATION FILE FOR RUSSIA DATA EXTRACTOR **********
#
# TO CHANGE DEFAULT CONFIGURATION VALUES, MODIFY ORG.ECLIPSE.STEM.UTILITY.GENERATORS\GenConstants.java
#
# CONFIGURATION VARIABLES SET IN THIS FILE OVERRIDE THE DEFAULTS
#
# The WORKSPACE VARIABLE IS REQUIRED, ALL OTHER VARIABLES ARE OPTIONAL (i.e. WORKSPACE=C:\stemII\)
WORKSPACE=C:\stemII\
#
# ISO3166-1 file (i.e. ISO3166_1=C:\stemII\org.eclipse.stem.utility\parameters\ISO3166-1\ISO3166_1_list.txt)
#IS03166_1=
#
# File with target countries we want to process (i.e. TARGET_LIST=C:\stemII\org.eclipse.stem.utility\parameters\targets\EuropeCountries.txt)
TARGET_LIST = C:\stemII\org.eclipse.stem.utility\parameters\targets\EuropeCountries.txt
#
# Output directory for new files (i.e. OUTPUT=C:\stemII\org.eclipse.stem.utility\parameters\AreaPopulationData\)
OUTPUT = C:\stemII\org.eclipse.stem.utility\parameters\AreaPopulationData\
#
# ********** END OF CONFIGURATION FILE FOR RUSSIA DATA EXTRACTOR **********
#
################################################################################################################################################