################################################################################################################################################
#
# ********** CONFIGURATION FILE FOR EUROPE USA TO DIVA FORMAT CONVERTER **********
#
# TO CHANGE DEFAULT CONFIGURATION VALUES, MODIFY ORG.ECLIPSE.STEM.UTILITY.GENERATORS\GenConstants.java
#
# CONFIGURATION VARIABLES SET IN THIS FILE OVERRIDE THE DEFAULTS
#
# The WORKSPACE VARIABLE IS REQUIRED, ALL OTHER VARIABLES ARE OPTIONAL (i.e. WORKSPACE=C:\stemII\)
WORKSPACE=C:\stemII\
#
# Names file (i.e. NAMES_LIST=C:\stemII\org.eclipse.stem.utility\parameters\USA_L1_Data\USA_L1.txt)
NAMES_LIST=C:\stemII\org.eclipse.stem.utility\parameters\USA_L1_Data\USA_L1.txt
#
# File with target countries we want to process (i.e. TARGET_LIST=C:\stemII\org.eclipse.stem.utility\parameters\targets\formatList.txt)
TARGET_LIST = C:\stemII\org.eclipse.stem.utility\parameters\targets\formatList.txt
#
# Output directory for new files (i.e. OUTPUT=C:\diva\NorthAmerica\USA\)
OUTPUT = C:\diva\NorthAmerica\USA\
#
# ********** END OF CONFIGURATION FILE FOR USA TO DIVA FORMAT CONVERTER**********
#
################################################################################################################################################