<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/eclipse/stem/server.ecore"
            class="org.eclipse.stem.server.server.ServerPackage"
            genModel="model/server.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="ServerApplication">
         
         <application>
         	<run class="org.eclipse.stem.server.ServerApplication"/>
         </application>

   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.stem.server.ServerApplication"
            name="STEM Server">
      </product>
   </extension>

</plugin>
