a#stem-overview img {
    background-image: url(../../images/introtopiclabels/sample.gif);
}

a#stem-overview:hover img {
    background-image: url(../../images/introtopiclabels/sample_hov.gif);
}

a#stem-overview-faq img {
    background-image: url(../../images/introtopiclabels/sample.gif);
}

a#stem-overview-faq:hover img {
    background-image: url(../../images/introtopiclabels/sample_hov.gif);
}


