<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="graph" name="%EP_Graph" schema="schema/graph.exsd"/>
   <extension-point id="model" name="%EP_Model" schema="schema/model.exsd"/>
   <extension-point id="scenario" name="%EP_Scenario" schema="schema/scenario.exsd"/>
   <extension-point id="sequencer" name="%EP_Sequencer" schema="schema/sequencer.exsd"/>
   <extension-point id="decorator" name="%EP_Decorator" schema="schema/decorator.exsd"/>
   <extension-point id="trigger" name="%EP_Trigger" schema="schema/trigger.exsd"/>
   <extension-point id="predicate" name="%EP_Predicate" schema="schema/predicate.exsd"/>
   <extension-point id="experiment" name="%EP_Experiment" schema="schema/experiment.exsd"/>
   <extension-point id="solver" name="%EP_Solver" schema="schema/solver.exsd"/>
   <extension-point id="simulation" name="%EP_Simulation" schema="schema/simulation.exsd"/>
 
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http:///org/eclipse/stem/core/common.ecore"
            class="org.eclipse.stem.core.common.provider.CommonItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http:///org/eclipse/stem/core/experiment.ecore"
            class="org.eclipse.stem.core.experiment.provider.ExperimentItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http:///org/eclipse/stem/core/graph.ecore"
            class="org.eclipse.stem.core.graph.provider.GraphItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http:///org/eclipse/stem/core/model.ecore"
            class="org.eclipse.stem.core.model.provider.ModelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http:///org/eclipse/stem/core/modifier.ecore"
            class="org.eclipse.stem.core.modifier.provider.ModifierItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http:///org/eclipse/stem/core/predicate.ecore"
            class="org.eclipse.stem.core.predicate.provider.PredicateItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http:///org/eclipse/stem/core/scenario.ecore"
            class="org.eclipse.stem.core.scenario.provider.ScenarioItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http:///org/eclipse/stem/core/sequencer.ecore"
            class="org.eclipse.stem.core.sequencer.provider.SequencerItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http:///org/eclipse/stem/core/trigger.ecore"
            class="org.eclipse.stem.core.trigger.provider.TriggerItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="org.eclipse.stem.core.solver.provider.SolverItemProviderAdapterFactory"
            uri="http:///org/eclipse/stem/core/solver.ecore"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource">
      </factory>
   </extension>

 
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/eclipse/stem/core/common.ecore"
            class="org.eclipse.stem.core.common.CommonPackage"
            genModel="model/core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/eclipse/stem/core/experiment.ecore"
            class="org.eclipse.stem.core.experiment.ExperimentPackage"
            genModel="model/core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/eclipse/stem/core/graph.ecore"
            class="org.eclipse.stem.core.graph.GraphPackage"
            genModel="model/core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/eclipse/stem/core/model.ecore"
            class="org.eclipse.stem.core.model.ModelPackage"
            genModel="model/core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/eclipse/stem/core/modifier.ecore"
            class="org.eclipse.stem.core.modifier.ModifierPackage"
            genModel="model/core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/eclipse/stem/core/predicate.ecore"
            class="org.eclipse.stem.core.predicate.PredicatePackage"
            genModel="model/core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/eclipse/stem/core/scenario.ecore"
            class="org.eclipse.stem.core.scenario.ScenarioPackage"
            genModel="model/core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/eclipse/stem/core/sequencer.ecore"
            class="org.eclipse.stem.core.sequencer.SequencerPackage"
            genModel="model/core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/eclipse/stem/core/trigger.ecore"
            class="org.eclipse.stem.core.trigger.TriggerPackage"
            genModel="model/core.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.stem.core.solver.SolverPackage"
            uri="http:///org/eclipse/stem/core/solver.ecore"
            genModel="model/solver.genmodel">
      </package>
   </extension>

 	<extension
        point="org.eclipse.core.runtime.adapters">
          <factory 
            class="org.eclipse.stem.adapters.file.IdentifiableFileAdapterFactory" 
            adaptableType="org.eclipse.stem.core.common.Identifiable">
            <adapter type="org.eclipse.stem.adapters.file.File"/>
         </factory>
      </extension>
      
      
</plugin>
