<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	  <extension-point id="graphgenerator" name="%EP_Disease_Model" schema="schema/graphgenerator.exsd"/>
 
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http:///org/eclipse/stem/graphgenerators/graphgenerators.ecore" 
       class = "org.eclipse.stem.graphgenerators.provider.GraphgeneratorsItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>
 
 	 <extension
        point="org.eclipse.stem.graphgenerators.graphgenerator">
     <classdef
           class="org.eclipse.stem.graphgenerators.impl.SquareLatticeGraphGeneratorImpl">
     </classdef>
     <dublin_core
           creator="%dc_creator_edlund"
           description="%dc_desc_Lattice"
           identifier="square"
           title="%dc_desc_Lattice">
     </dublin_core>
  </extension>
  
  <extension
        point="org.eclipse.stem.graphgenerators.graphgenerator">
     <classdef
           class="org.eclipse.stem.graphgenerators.impl.PlateCarreeGlobeGraphGeneratorImpl">
     </classdef>
     <dublin_core
           creator="%dc_creator_kaufman"
           description="%dc_desc_Globe"
           identifier="globe"
           title="%dc_desc_Lattice">
     </dublin_core>
  </extension>
  
  <extension
        point="org.eclipse.stem.graphgenerators.graphgenerator">
     <classdef
           class="org.eclipse.stem.graphgenerators.impl.MigrationEdgeGraphGeneratorImpl">
     </classdef>
     <dublin_core
           creator="%dc_creator_edlund"
           description="%dc_desc_Migration"
           identifier="migration"
           title="%dc_desc_Migration">
     </dublin_core>
  </extension>
  

</plugin>
